
body {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 1.6rem;
  padding-bottom: 3rem;
}

.nav-bar {
  color: #fff;
  font-family: 'Droid Sans', sans-serif;
  font-size: 1rem;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;

  .actions {
    float: right;
  }

  a {
    color: #fff;

    &.title {
      font-weight:bold;
    }
  }
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
  line-height: 6rem;
  margin-top: 4rem;
}

h2 {
  text-align:center;
  font-size:2.5rem;
}

p {
  text-align: justify;
}

.text-container {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  text-align: justify;
}

.option {
  color: #000;
  font-size:1.8rem;
  display:block;
  border: 1px solid #ddd;
  padding: 1rem 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;

  &:hover {
    background-color: #eee;
  }
}

.page-divider {
  text-align:center;
  font-weight: bold;
  font-size: 2rem;
}
